.root {
    -fx-background-image:url("Bg1.png");
}
#commandLine{
    -fx-background-color: transparent;
    -fx-border-color: #FFC43C;
    -fx-border-width: 3px;
    -fx-prompt-text-fill: #FFC43C;
    -fx-text-fill: #FFC43C;
}

#printArea{
    -fx-background-color: transparent;

    -fx-border-color: #FFC43C;
    -fx-border-width: 3px;
    -fx-prompt-text-fill: #FFC43C;
    -fx-text-fill: #FFC43C;
}
#printArea .scroll-pane {
    -fx-background-color: transparent;
}
#printArea .viewport {
    -fx-background-color: transparent;
}
#printArea .content {
    -fx-background-color: transparent;
}

#fctListName{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18px;
}
#appName{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 42px;
}

#sendBtn{
    -fx-background-color: #FFC43C;
    -fx-background-radius: 0px;
}

#clearPromptBtn, #clearPlotBtn, #clearVarBtn, #clearFctBtn{
    -fx-background-color: transparent;
    -fx-border-color: whitesmoke;
    -fx-border-width: 3px;
    -fx-text-fill: whitesmoke;
}
#clearPromptBtn:hover, #clearPlotBtn:hover, #clearVarBtn:hover, #clearFctBtn:hover{
    -fx-background-color: #FFC43C;
    -fx-text-fill: black;
    -fx-border-color: #FFC43C;
}

#commandText, #fctListName, #varListName{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 20px;
}

#copyright{
    -fx-text-fill: whitesmoke;
}











